.flex{
    display: flex;
    flex-wrap: wrap;
}
.header{
    background-color: rgb(252, 132, 21);
    color: white;
    .menu{
        padding-left: 0;
        align-items: center;
        justify-content: center;
        &_item{
            text-align: center;
            width: 200px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            list-style-type: none;
            a{
               text-decoration: none;
               color: white;
               font-weight: 600;
               text-transform: uppercase;
            }
        }
        .menu_item:hover{
            background-color: rgb(247, 168, 65);
            a{
                color: black;
            }
        }
        .user{
            padding: 0px 10px;
            position: relative;
            width: 200px;
            height: 40px;
            .avata{
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }
            }
            a{
                line-height: 40px;
                text-decoration: none;
                color: white;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        .user:hover{
            background-color: rgb(247, 168, 65);
            a{
                color: black;
            }
            .sub{
                z-index: 9999;
                opacity: 1;
                top: 100%;
                visibility: visible;
            }
        }
    }
}
.sub{
    background-color: rgb(252, 132, 21);
    position: absolute;
    opacity: 0;
    top: 140%;
    width: 100%;
    left: 0;
    visibility: hidden;
    transition: 0.5s;
    &_item{
        width: 100%;
        padding: 0 10px;
        cursor: pointer;
    }
    .sub_item:hover{
        width: 100%;
        background-color: yellowgreen;
    }
}
.site{
    position: relative;
    .addtro{
        z-index: 99;
        transition: 0.5s;
        position: absolute;
        width: 100%;
        top: 0%;
        visibility: hidden;
        opacity: 0;
        &_active{
            margin: auto;
            width: 600px;
            background-color: rgb(252, 132, 21);
            h1{
                text-align: center;
            }
            padding: 20px 15px;
            .form_input{
                input{
                    width: 100%;
                    height: 35px;
                    padding: 5px;
                    margin-bottom: 5px;
                }
                button{
                    text-align: center;
                    display: block;
                    width: 100%;
                    height: 40px;
                    border: none;
                    line-height: 35px;
                    text-decoration: none;
                    margin-top: 20px;
                }
                button:hover{
                    background-color: green;
                    color: white;
                }
                textarea{
                    width: 100%;
                    padding: 10px;
                }
                select{
                    margin-bottom: 10px !important;
                    width: 100%;
                }
            }
        }
    }
    .edit_infos{
        z-index: 99;
        transition: 0.5s;
        position: absolute;
        width: 100%;
        top: 0%;
        visibility: hidden;
        opacity: 0;
        &_active{
            margin: auto;
            width: 600px;
            background-color: rgb(252, 132, 21);
            h1{
                text-align: center;
            }
            padding: 20px 15px;
            .form_input{
                input{
                    width: 100%;
                    height: 35px;
                    padding: 5px;
                    margin-bottom: 5px;
                }
                a{text-align: center;
                    display: block;
                    width: 100%;
                    height: 40px;
                    border: 1px solid gray;
                    line-height: 35px;
                    text-decoration: none;
                    margin-top: 20px;
                }
                a:hover{
                    background-color: green;
                    color: white;
                }
            }
        }
    }
}
.active{
    visibility: visible !important;
    opacity: 1 !important;
    top: 100%;
}
.motel{
    margin-top: 20px;
    a{
        cursor: pointer;
    }
    &_left{
        img{
            object-fit: cover;
        }
    }
    &_center{
        margin-left: 15px;
        &_title{
            font-size: 25px;
            a{
                text-decoration: none;
                color: black;
            }
        }
        &_info{
            margin-bottom: 0;
            line-height: 28px;
            a{
                text-decoration: none;
                color: black;
            }
        }
        .price{
            color: red;
            span{
                font-weight: 600;
            }
        }
    }
    &_right{
        margin-left: auto;
        padding-right: 15px;
        &_info{
            margin-bottom: 0;
            line-height: 28px;
        }
        .time{
            padding-top: 45px;
        }
    }
}
.viewmt{
    &_left{
        .title{
            font-size: 60px;
            font-weight: 400;
        }
        .img{
            &_info{
                margin-bottom: 5px;
                &_price{

                }
                &_view{
                    margin-left: auto;
                    .time{
                       span{
                        color: red;
                        font-weight: 600;
                       }
                    }
                }
            }
            &_show{
                img{
                    width: 100%;
                    height: 450px;
                    object-fit: cover;
                }
            }
        }
        .description{
            margin-top: 15px;
            &_title{
                font-size: 30px;
            }
            &_detail{
                min-height: 150px;
                border: 1px solid rgb(247, 190, 106);
                background: rgb(247, 240, 234);
                padding: 10px;
            }
        }
    }
    &_right{
        .tile{
            line-height: 100px;
            font-weight: 300;
            font-size: 25px;
        }
        .call{
            width: 100%;
            background-color: rgb(255, 153, 0);
            color: white;
            border: none;
            height: 40px;
            margin-bottom: 30px;
        }
        .note{
            .area{
                margin: auto;
            }
            margin-bottom: 30px;
        }
        .orther{
            margin-bottom: 15px;
            span{
                line-height: 35px;
            }
        }
        .report{
            margin-bottom: 25px;
            width: 100%;
            .fa-check-circle{
                line-height: 35px;
                color: rgb(252, 132, 21);
            }
            &_send{
                margin-top: 10px;
                border: none;
                border: 2px solid red;
                color: red;
                background: none;
                width:150px;
            }
            &_send:hover{
                background-color: sandybrown;
                color: white;
                transition:calc(1.05);
            }
        }
        .acti{
            text-align: center;
            width: 100%;
            .edit_post{
                width:150px;
                height: 35px;
                border: none;
                color: rgb(11, 202, 4);
                border: 2px solid rgb(11, 202, 4);
                background: none;
                width:150px;
            }
            .edit_post:hover{
                background-color: sandybrown;
                color: white;
                transition:calc(1.05);
            }
        }
    }
}
//======================================================================================================================================